<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Toyblog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render'layouts/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
      <h1 class = "text-center">Hi !!</h1>
      <h4 class="text-center">ここはおもちゃの思い出を、記憶と共に記録に残す場所だよ。<br>ぜひ気軽に使ってね。</h4>
    </div>
    <div></div>
    <div class="container">
      <h1 class="text-center margin-top-20px absolute">SAMPLE</h1>
        <div class = "col-md-3 article-block">  
          <%= image_tag"title_image.jpg", class:"img-responsive padding-top-15 margin-bottom-15", alt: "画像がないぜ！" %>
          <div>
            <p class="title">タイトル</p>
            <span>
              <%= "XXXX年YY月ZZ日" %>
            </span>
          </div>
        </div>
        <div class = "col-md-3 article-block">  
          <%= image_tag"buzz.jpg", class:"img-responsive padding-top-15 margin-bottom-15", alt: "画像がないぜ！" %>
          <div>
            <p class="title">タイトル</p>
            <span>
              <%= "XXXX年YY月ZZ日" %>
            </span>
          </div>
        </div>
        <div class = "col-md-3 article-block">  
          <%= image_tag"jesie.png", class:"img-responsive padding-top-15 margin-bottom-15", alt: "画像がないぜ！" %>
          <div>
            <p class="title">タイトル</p>
            <span>
              <%= "XXXX年YY月ZZ日" %>
            </span>
          </div>
        </div>
        <div class = "col-md-3 article-block">  
          <%= image_tag"pixeball.jpg", class:"img-responsive padding-top-15 margin-bottom-15", alt: "画像がないぜ！" %>
          <div>
            <p class="title">タイトル</p>
            <span>
              <%= "XXXX年YY月ZZ日" %>
            </span>
          </div>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
